.doc-box {
  display: flex;
  border: 1px solid black;
  margin: 5px;
  padding: 0;

  &--img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-right: 1px dashed grey;
    margin-top: 5px;

    img {
      width: 50%;
    }
  }
  &--info {
    width: 70%;

    &-top {
      padding-top: 5px;
      text-align: center;
      font-weight: 700;
      background: rgba(103, 183, 252, 0.358);
      border-bottom: 1px solid rgba(135, 135, 135, 0.596);
    }

    &-bottom {
      border-top: 1px solid rgba(135, 135, 135, 0.596);
      text-align: center;
      font-weight: 200;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}

.city-box {
  display: none;
  margin: 25px auto;
  width: 70%;
  border: 1px dashed rgba(87, 87, 87, 0.2);
  background: rgba(103, 182, 252, 0.153);
  border-radius: 5px;

  text-align: center;
  font-weight: 700;
  font-size: larger;
  padding: 20px 10px;
}
