.box-decore {
  margin-top: 55px;
  padding: 25px;
  box-shadow: 1px 1px 15px -4px rgba(0, 0, 0, .2);
}

.results {
  position: relative;
  .output {
    margin: 55px 0;
    .error {
      text-align: center;
      font-size: larger;
      font-weight: 700;
    }
  }

  .loading {
    text-align: center;
    width: 100%;
    height: 100px;
    display: none;
    margin: 1rem auto;
  }
}
